{% extends 'base.html.twig' %}
{% block stylesheets %}
<style type="text/css">
  .card-login .card-tabs{
    background-image: url(images/backgroundlogin.jpg);
    background-size: cover;
  }
  .card-login h2{
    color: white;
    text-align: center;
    width: 100%;
  }
</style>
{% endblock %}
{% block body %}


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s10 offset-s1">
        <div class="row card card-login horizontal large">
          <div class="card-tabs col s5 valign-wrapper">
            <h2 class="center-align">Login</h2>
          </div>
          <div class="col s7">
            <div class="card-content">
              <ul class="tabs row" id="tabs-login">
                <li class="tab col s6"><a href="#connexion">Connexion</a></li>
                <li class="tab col s6"><a href="#inscription">Inscription</a></li>
              </ul>
            </div>
            <div id="connexion" class="col s12">
              <div class="row">
                <form class="col s12" action="{{ path('login') }}" method="post">
                  <div class="row">
                    {% if error %}
                    <div class="card-panel red lighten-3">{{ error.messageKey }}</div>
                    {% endif %}
                    <div class="input-field col s12">
                      <input id="log-email" type="email" name="log-email" class="validate" value={{ lastUsername }}>
                      <label for="log-email">Email</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="log-password" type="password" name="log-password" class="validate">
                      <label for="log-password">Mot de passe</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="log-submit" name="log-submit" type="submit" class="btn waves-effect waves-light" value="se connecter">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div id="inscription" class="col s12">
              <div class="row">
                {{ form_start(formSign, {'method': 'POST', 'class':'col s12', 'action': path('signin')})  }}

                
                  <div class="row">
                    <div class="input-field col s12">
                      <!--<input id="sign-email" type="email" name="_sign-email" class="validate">
                      <label for="sign-email">Email</label>-->
                      {{ form_row(formSign.email) }}
                    </div>
                    <div class="input-field col s12">
                      <!--<input id="sign-username" type="text" name="_sign-username" class="validate">
                      <label for="sign-username">Nom d'utilisateur</label>-->
                      {{ form_row(formSign.username) }}
                    </div>
                    <div class="input-field col s12">
                      <!--<input id="sign-password" type="password" name="_sign-password" class="validate">
                      <label for="sign-password">Mot de passe</label>-->
                      {{ form_row(formSign.password.first) }}
                    </div>
                    <div class="input-field col s12">
                      <!--<input id="sign-confirm-password" type="password" name="_sign-confirm-password" class="validate">
                      <label for="sign-confirm-password">Confirmer le mot de passe</label>-->
                      {{ form_row(formSign.password.second) }}
                    </div>
                    <div class="input-field col s12">
                      <input id="sign-submit" name="_sign-submit" type="submit" class="btn waves-effect waves-light" value="s'inscrire">    
                    </div>
                  </div>
                  {{form_rest(formSign)}}
                
                {{ form_end(formSign) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    if ($('#tabs-login').length) {
      $('#tabs-login').tabs({  });
    }
</script>
{% endblock %}